body {
  margin: 0;
  padding: 0;

  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;

  background-color: white;
  color: #666d89;
}

h1,
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 25px;

  color: white;
}

h1 span {
  color: #f06c64;
}

h2,
h3 {
  font-weight: 900;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 18px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.012em;
  text-align: justify;

  color: #767e9e;
}



header,
.slider,
.services,
.portfolio,
.about-us,
.contacts,
footer {
  width: 100%;
}

.wrapper {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.layout-3-column,
.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-3-column p {
  margin-top: 12px;

  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.005em;
  line-height: 1.84em;
}

.social-icons {
  margin-top: 24px;
  padding-left: 1px;
}

.social-icons .icon {
  display: inline-block;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social-icons .icon:not(:first-child) {
  margin-left: 4px;
}

.social-icons .icon:hover,
.contact-form__info .phone:hover,
.contact-form__info .email:hover {
  opacity: 0.6;
}

.icon.icon_facebook {
  background-image: url("../assets/img/icon_facebook.svg");
}

.icon.icon_google-plus {
  background-image: url("../assets/img/icon_google-plus.svg");
  background-position-x: 7px;
}

.icon.icon_twitter {
  background-image: url("../assets/img/icon_twitter.svg");
  background-position-x: 8px;
}

.icon.icon_linkedin {
  background-image: url("../assets/img/icon_linkedin.svg");
  background-position-y: 7px;
}



header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 29px;
  padding-bottom: 30px;

  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.042em;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: 9px;
  letter-spacing: -0.0115em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav a {
  position: relative;

  font-size: 12px;
  text-decoration: none;

  color: #f06c64;
}

nav a:not(.current):before {
  content: "·";

  position: absolute;
  top: 0;
  left: -1.35em;

  color: #494e62;

  border-radius: 50%;
}

nav a:not(.current) {
  margin-left: 2.19em;

  color: white;
}

nav a:not(.current):hover {
  color: #f06c64;
}



.slider {
  padding-top: 53px;
  padding-bottom: 58px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider.blue {
  background-color: #648bf0;
  border-bottom: 6px solid #348bf0;
}

.slider .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider .chev_right,
.slider .chev-left,
.slider__images,
.slider__images img {
  display: inline-block;
  vertical-align: middle;
}

.chev_left {
  height: 27px;
  margin-top: 228px;
  /*margin-bottom: 231px;*/
}

.chev_right {
  height: 27px;
  margin-top: 228px;
  margin-left: 55px;
  /* margin-bottom: 231px;*/
}

.chev_left:hover {
  background: url(../assets/img/chev_left_hover.png);
  cursor: pointer;
}

.chev_right:hover {
  background: url(../assets/img/chev_right_hover.png);
  cursor: pointer;
}

.slider__images {
  margin: 0 auto;

  width: calc(100% - 16px*2);
}

.iphone1 {
  vertical-align: middle;

  margin-left: 54px;
}

.iphone2 {
  margin-left: 69px;
  margin-bottom: 1px;
}



.services {
  padding-top: 59px;
  padding-bottom: 30px;

  background-color: #f2f2f2;
  border-bottom: 6px solid white;
}

.services h2 {
  letter-spacing: 0.001em;
}

.services .layout-3-column {
  margin-top: 47px;
  padding-left: 1px;
}

.service {
  width: 220px;
  margin-bottom: 31px;
  padding-left: 80px;

  background: transparent no-repeat top left;
}

.service.custom-design {
  background-image: url("../assets/img/icon-custom-design.svg");  
}

.service.innovative-ideas {
  background-image: url("../assets/img/icon-inovative-ideas.svg");
}

.service.love-is-the-answer {
  background-image: url("../assets/img/icon-love-is-the-answer.svg");
}

.service.responsive-layout {
  background-image: url("../assets/img/icon-responsive-layout.svg");
}

.service.support-24-7 {
  background-image: url("../assets/img/icon-24-7-support.svg");
}

.service.feel-like-a-star {
  background-image: url("../assets/img/icon-feel-like-a-star.svg");
  background-position-x: -1px;
}

.service p {
  max-height: 65px;
  overflow: hidden;

  hyphens: manual;
}

.service:last-child p {
  letter-spacing: normal;
}

.service:nth-child(3n+2) {
  margin-left: -0.1em;
}

.service:nth-child(3n) h3,
.service:nth-child(2) h3 {
  letter-spacing: 0;
}

.service:nth-child(5) h3 {
  letter-spacing: -0.023em;
}



.portfolio {
  padding-top: 60px;
  padding-bottom: 67px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio h2 {
  letter-spacing: 0.008em;
}

.portfolio__tags p {
  margin-top: 0.93em;
}

.portfolio__tags {
  margin: 9px 0 19px;
  padding-left: 1px;
}

.portfolio__tags .tag {
  padding: 4px 7px;

  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;

  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio__tags .tag:not(:first-child) {
  margin-left: 6px;
}

.portfolio__tags .tag:hover {
  color: #dedede;
  border-color: #dedede;
}

.portfolio__tags .tag.selected {
  color: #dedede;
  border-color: #dedede;

  cursor: default;
}

.portfolio .layout-4-column {
  height: 601px;
  overflow: hidden;
}

.portfolio__picture {
  margin-bottom: 20px;
}

.portfolio__picture:nth-child(n+9) {
  margin-bottom: 0;
}

.portfolio__picture:nth-child(n+13) {
  display: none;
}



.about-us {
  padding-top: 59px;
  padding-bottom: 64px;

  background-color: #f2f2f2;
  border-bottom: 6px solid white;
}

.about-us h2 {
  letter-spacing: -0.006em;
}

.about-us .layout-3-column {
  margin-top: 45px;
}

.about-us__employee {
  width: 300px;
}

.about-us__employee:nth-child(2) {
  margin-left: 19px;
}

.about-us__employee:nth-child(3) {
  margin-left: 21px;
}

.about-us__employee h3 {
  margin-top: 13px;

  letter-spacing: -0.005em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-us .about-us__employee p {
  margin-top: 8px;

  line-height: 1.75em;
  letter-spacing: -0.012em;
}

.about-us__employee:nth-child(2) h3 {
  letter-spacing: -0.01em;
}

.about-us__employee:nth-child(3) h3,
.about-us__employee:nth-child(3) p,
.about-us__employee:nth-child(3) .social-icons {
  margin-left: -1px;
}

.about-us__employee:nth-child(3) h3 {
  letter-spacing: 0.005em;
}

.about-us__employee:nth-child(3) p {
  letter-spacing: -0.003em;
}

.about-us__employee:nth-child(2) p {
  letter-spacing: 0;
}



.contacts {
  padding-top: 59px;
  padding-bottom: 13px;

  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.contacts a,
.contacts p {
  color: #f0d8d9;
}

.contacts h2 {
  word-spacing: -0.04em;
}

.contact-form {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

form > * {
  display: block;
}

input,
textarea,
form button {
  padding: 12px 15px;
  width: 619px;
  box-sizing: border-box;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f0d8d9;
}

::placeholder {
  color: #f48c8f;
  opacity: 1;
}

input,
textarea {
  margin-bottom: 16px;
}

textarea {
  padding: 11px 15px 13px 14px;
  resize: none;
  max-height: 202px;
}

form button {
  padding: 12px 14px 10px;

  width: initial;

  background-color: transparent;
  color: #f0d8d9;
  border: 1px solid #f0d8d9;
}

form button:hover {
  padding: 13px 15px 11px;

  background-color: #f0d8d9;
  color: #f06c64;
  border: none;
}

.contact-form__info {
  width: 303px;
  padding-left: 3px;
  box-sizing: border-box;
}

.contact-form__info h3 {
  margin-top: 0.08em;
  letter-spacing: 0.004em;
}

.contact-form__info > p,
.contact-form__info > a {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 12px;

  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.004em;
  line-height: 22px;
  text-align: justify;
  hyphens: manual;
}

.contact-form__info .address,
.contact-form__info > a {
  padding-left: 23px;
}

.contact-form__info > a {
  display: block;
  margin-block-start: 0;

  line-height: 22px;
  text-decoration: none;
}

.contact-form__info .address {
  margin-block-start: 0;
  margin-top: 21px;

  letter-spacing: -0.013em;

  background: transparent url("../assets/img/icon-location.svg") no-repeat 3px center;
}

.contact-form__info .phone {
  margin-top: -0.08em;

  letter-spacing: -0.016em;

  background: transparent url("../assets/img/icon-phone.svg") no-repeat left center;
}

.contact-form__info .email {
  letter-spacing: -0.002em;

  background: transparent url("../assets/img/icon-email.svg") no-repeat left 7px;
}


footer {
  padding-top: 22px;
  padding-bottom: 19px;

  background-color: #2d303a;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  margin-top: -4px;

  font-weight: 300;
  font-size: 12px;
  word-spacing: -0.06em;
  letter-spacing: -0.001em;
}

footer .social-icons {
  margin: 0;
}



.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;

  overflow: hidden;
}

.slideshow-container {
  display: flex;
  max-width: 1000px;
  margin: 0;
}

.offscreen2 {
  position: absolute;
  height: 190px;
  width: 335px;
  margin-top: 134px;
  margin-left: 441px;
  border-radius: 4px;
  background-color: black;
}

.offscreen3 {
  position: absolute;
  display: block;
  width: 201px;
  margin-left: 374px;
  margin-top: 68px;
  height: 356px;
  border-radius: 4px;
  background-color: black;
}

.offscreen1 {
  position: absolute;
  height: 334px;
  width: 189px;
  margin-top: 65px;
  margin-left: 84px;
  border-radius: 4px;
  background-color: black;
}

.iphone-button1 {
  position: absolute;
  width: 41px;
  height: 41px;
  margin-top: 407px;
  margin-left: 140px;
  border-radius: 50%;
}

.iphone-button3 {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 433px;
  margin-left: 436px;
}

.iphone-button2 {
  position: absolute;
  width: 41px;
  height: 41px;
  margin-top: 207px;
  margin-left: 375px;
  border-radius: 50%;
}

.bigger {
  width: 851px;
  height: 489px;
}

.iphones {
  margin-left: 25%;
}